### Contents
4. Create an exclusion flag for low-activity customers (customers with less than 5 orders)

### 1. Import libraries and data

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Define path

path = r'C:\Users\Windows 10\Documents\04-2023 Instacart Basket Analysis'

In [3]:
# Import data

df_project_all = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_customers.pkl'))

### 4. Create an exclusion flag for low-activity customers (customers with less than 5 orders)

In [4]:
df_project_all.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,spending_flag,median_prior_orders,order_frequency_flag,gender,state,age,date_joined,dependants_number,family_status,income
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423

In [5]:
df_project_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 object
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
 9   product_name            object
 10  aisle_id                int64
 11  department_id           int64
 12  prices                  float64
 13  _merge                  category
 14  price_range_loc         object
 15  busiest_day             object
 16  busiest_days            object
 17  busiest_period_of_day   object
 18  max_order               int64
 19  loyalty_flag            object
 20  average_price           float64
 21  spending_flag           object
 22  median_prior_orders     float64
 23  order_frequency_flag    object
 24  gender                  object
 25  state                   object
 26  age                     int64
 27  date_joined             object
 28  dependants_number       int64
 29  family_status           object
 30  income                  int64
dtypes: category(1), float64(4), int64(13), object(13)
memory usage: 7.5+ GB

In [ ]:
# Create an exclusion flag for low-activity customers 

df_project_all.loc[df_project_all['max_order'] < 5, 'order_activity_flag'] = 'Low order activity customer'
df_project_all.loc[df_project_all['max_order'] >= 5, 'order_activity_flag'] = 'High order activity customer'

In [ ]:
df_project_all['order_activity_flag'].value_counts()

In [ ]:
# Create a sample that excludes all low activity customers

df_exc_low_cust = df_project_all[df_project_all['order_activity_flag'] == 'High order activity customer']

In [ ]:
df_exc_low_cust.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'project_high_order_customer.pkl'))

In [ ]:
# NOTES:
# Once I managed to run and export project_high_order_customer but there was an error notification if my memory was full so I'm a bit afraid if this part got corrupted although I have managed to export it
# I decided to re-run a few times again but it didn't work out due to my memory